.hoofding img {

max-width:100%;}

body {font-family: 'Ubuntu', sans-serif;}
nav div.container-fluid form ul .navbar-right {padding-right:20px;}
.navbar-dark {background-color:#01222b;}

body.navbar-right {padding-right:20px;}


h1 {text-align:center;}

input[type=submit].test {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;}